<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Aggregation Study - San Francisco State University</a>
    </div>
  </div>
</nav>

<style>



.navbar{
background-color: #330033;


}

.navbar-default .navbar-brand {
color: #FFCC33;
}


</style>